<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css">
    <script src="/webjars/layui/2.5.6/layui.js"></script>
    <script>
         layui.use('table', function(){
            var table = layui.table;
            //第一个实例

            table.render({
                elem: '#demo'
                ,toolbar:'#toolbarDemo'
                ,title:'已存在电影分析'
                ,height: 400
                ,url: '/adminOperaMovie' //数据接口
                ,page: true //开启分页
                ,cols: [
                    [ //表头
                    {field: 'movieId', title: '电影id', width:80, sort: true, fixed: 'left'}
                    ,{field: 'movieName', title: '名字', width:80}
                    ,{field: 'movieActor', title: '演员', width:80, sort: true}
                    ,{field: 'movieDirect', title: '导演', width:80}
                    ,{field: 'movieArea', title: '区域', width: 177}
                    ,{field: 'movieSite', title: '座位', width: 80, sort: true}
                    ,{field: 'moviePrice', title: '价格', width: 80, sort: true}
                    ,{field: 'movieKind', title: '种类', width: 80}
                    ,{field: 'movieTime', title: '播放时间', width: 135, sort: true}
                        ,{title:'相关操作',toolbar:'#barDemo'}
                ]
                ]
                //不加此方法可能无法解析成功
                ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据，res为从url中get到的数据
                var result;
                console.log(this);
                console.log(JSON.stringify(res));
                if(this.page.curr){
                    result = res.data.slice(this.limit*(this.page.curr-1),this.limit*this.page.curr);
                }
                else{
                    result=res.data.slice(0,this.limit);
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": result //解析数据列表
                };


            }

            });

             table.on('toolbar(test)', function(obj){
                 var checkStatus = table.checkStatus(obj.config.id);
                 switch(obj.event){
                     case 'add':
                         layer.msg('添加');
                         break;
                     case 'delete':
                         layer.msg('删除');
                         break;
                     case 'update':
                         layer.msg('编辑');
                         break;
                 };
             });

             table.on('row(test)', function(obj){


                 console.log(obj.tr) //得到当前行元素对象
                 console.log(obj.data) //得到当前行数据
                 //obj.del(); //删除当前行
                 //obj.update(fields) //修改当前行数据
             });

        });
    </script>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
            <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
            <button class="layui-btn" data-type="isAll">验证是否全选</button>
        </div>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</head>
<body >

<div class="layui-side layui-bg-black " th:fragment="adminTwo">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">电影管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="">显示已有电影</a></dd>
                    <dd><a href="">报表分析</a></dd>
                    <dd><a href="">查看管理员</a></dd>
                    <dd><a href="">添加电影</a></dd>
                    <dd><a href="">喜剧片</a></dd>
                    <dd><a href="">战争片</a></dd>
                    <dd><a href="">恐怖片</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">财务报表分析</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">联系</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">发布商品</a></li>
        </ul>
    </div>
</div>
<div class="layui-body">
    <table id="demo" lay-filter="test"></table>

</div>

</body>
</html>