<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css">
    <script src="/webjars/layui/2.5.6/layui.js"></script>
    <script>
        layui.use('element', function(){
            var $ = layui.jquery
                ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
            //触发事件
            var active = {
                tabAdd: function(){
                    //新增一个Tab项
                    element.tabAdd('demo', {
                        title: '新选项'+ (Math.random()*1000|0) //用于演示
                        ,content: '内容'+ (Math.random()*1000|0)
                        ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                    })
                }
                ,tabDelete: function(othis){
                    //删除指定Tab项
                    element.tabDelete('demo', '44'); //删除：“商品管理”
                    othis.addClass('layui-btn-disabled');
                }
                ,tabChange: function(){
                    //切换到指定Tab项
                    element.tabChange('demo', '22'); //切换到：用户管理
                }
            };

            $('dd a').on('click', function(){
                var othis = $(this), type = othis.data('type');
                alert("type:"+(type)+"_________"+"othis:"+JSON.stringify(othis));
                active['tabAdd'].call(this, othis) ;
                alert(" active[type]"+ active['tabAdd']);
            });

            //Hash地址的定位
            // var layid = location.hash.replace(/^#test=/, '');
            // element.tabChange('test', layid);
            //
            // element.on('tab(test)', function(elem){
            //     location.hash = 'test='+ $(this).attr('lay-id');
            // });

        });
    </script>
</head>
<body >

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">电影管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="">显示已有电影</a></dd>
                    <dd><a href="">动作片</a></dd>
                    <dd><a href="">科幻片</a></dd>
                    <dd><a href="">悬疑片</a></dd>
                    <dd><a href="">喜剧片</a></dd>
                    <dd><a href="">战争片</a></dd>
                    <dd><a href="">恐怖片</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">财务报表分析</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">联系</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">发布商品</a></li>
        </ul>
    </div>
</div>
<div class="layui-body">
<fieldset class="layui-elem-field layui-field-title " style="margin-top: 50px;">
    <legend>添加电影页面</legend>
    
</fieldset>

</div>

</body>
</html>