<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css">
    <script src="/webjars/layui/2.5.6/layui.js"></script>
    <script>
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg('hello');
            $("#login").click(function(){
            var user=$("input[name='user']").val();
            var password=$("input[name='password']").val();
            window.location.href=''
            })
        });
        $(function(){

        })
        //

        //
    </script>
</head>
<body>
<h2 style="text-align: center">欢迎来到威威影院后台管理系统</h2>

<div class="middle layui-row">
<div class="layui-col-md8">
    <span>1</span>
</div>

<div  class="layui-col-md4">
  <div> <span>用户名</span><input name="user"/></div>
    <div> <span>密码</span><input name="password"/></div>
    <button class="layui-btn" id="login">提交</button>
</div>
</div>


</body>
</html>