<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css">
    <script src="/webjars/layui/2.5.6/layui.js"></script>
    <script>
        layui.use('element', function(){
            var $ = layui.jquery
                ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
            //触发事件


            //Hash地址的定位
            // var layid = location.hash.replace(/^#test=/, '');
            // element.tabChange('test', layid);
            //
            // element.on('tab(test)', function(elem){
            //     location.hash = 'test='+ $(this).attr('lay-id');
            // });

        });
    </script>
</head>
<body >

<div class="layui-side layui-bg-black " th:fragment="adminTwo">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">电影管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="">显示已有电影</a></dd>
                    <dd><a href="">报表分析</a></dd>
                    <dd><a href="">查看管理员</a></dd>
                    <dd><a href="">添加电影</a></dd>
                    <dd><a href="">喜剧片</a></dd>
                    <dd><a href="">战争片</a></dd>
                    <dd><a href="">恐怖片</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">财务报表分析</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">联系</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">发布商品</a></li>
        </ul>
    </div>
</div>
<div class="layui-body">


</div>

</body>
</html>