.send-revert-box{
	margin-top: 20px;
	margin-left: 20px;
}
.perfree-revert-box{
	border-top: 1px solid #e6e6e6;
}
.perfree-revert-tools{
	background:#fbfbfb;
	padding: 0;
	height: 38px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
.perfree-revert-tools span{
	cursor: pointer;
    display: block;
	width: 50px;
	height: 38px;
	line-height: 38px;
	color: #009E94;
	text-align: center;
	border-right: 1px solid #e6e6e6;
	float: left;
}
.perfree-revert-tools span i{
	font-size: 18px;
}
.perfree-revert-tools span:hover{
	color: #5FB878;
	background-color: #eeeeee;
}
.perfree-revert-txtBox{
	padding: 0;
}
.perfree-revert-txt{
	border: 1px solid #e6e6e6;
}
.perfree-revert-txt:hover{
	border: 1px solid #e6e6e6!important;;
}
.perfree-revert-txt:focus{
	border: 1px solid #e6e6e6!important;;
}
.perfree-emjoi-icon-box{
	overflow: hidden;
	padding: 10px;
}
.perfree-emjoi-icon-box li{
	display: block;
	float: left;
	overflow: hidden;
	border: 1px solid #e8e8e8;
	padding: 4px 2px;
	text-align: center;
	cursor: pointer;
	margin: -1px 0 0 -1px;
}
.perfree-emjoi-icon-box li:hover{
	position: relative; z-index: 2; border: 1px solid #eb7350; background: #fff9ec;
}
.perfree-emjoi-icon-box li img{
	width: 20px;
	height: 20px;
}
.code-box{
	padding: 10px;
}
.link-box{
	padding: 6px;
}