<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css"/>
    <script src="/webjars/layui/2.5.6/layui.js"></script>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;
        });

    </script>
    <script>
        $(function () {
            $('#select').click(function () {
                var href= '/obscureGetMovie/?movieName='+$('#selecttest').val();
                window.location.href=href;
            })
        })
    </script>
    <script src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script th:inline="javascript">
        $(function () {
            var count = 0;
            var ok = [[${movie.movieSite}]];

            $('button').each(function () {
                //绑定每一个按钮,判断座位字符串里面是否包含
                if (ok.indexOf($(this).text()) >= 0) {
                    $(this).addClass("layui-btn-disabled");
                }
            })
            $('.layui-table  button').click(function () {

                $(this).toggleClass("layui-btn-warm");
                var text = "";
                count = 0;
                $('.layui-table button').each(function () {
                    if ($(this).hasClass('layui-btn-warm') && !$(this).hasClass('layui-btn-disabled')) {
                        count++;
                        text += '<button style="margin: 2px" class="layui-btn">' + $(this).html() + '</button>';
                    }
                })
                $('#tianjia').html(text);
                $('#price').text([[${movie.moviePrice}]] * count);
            })

            $('#login').click(function () {

                var site = $('#tianjia').text();
                $.ajax({
                    type: 'post',
                    url: '/addSite',
                    async: true,
                    datatype: "json",
                    data: {
                        "movieSite": site,
                        "id": [[${movie.movieId}]],
                        "userId": [[${session.user}]],
                        "money": [[${movie.moviePrice}]] * count
                    },
                    success: function (obj) {
                       alert("恭喜您购买成功");
                        $('button').each(function () {
                            //绑定每一个按钮,判断座位字符串里面是否包含
                            if (obj.indexOf($(this).text()) >= 0) {
                                $(this).addClass("layui-btn-disabled");
                            }
                        })
                    },
                    error: function (obj) {
                        alert("交互失败")
                    }
                })

            })
        })
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:include="vidon::copyright"></div>
    <div class="layui-side layui-bg-black" th:include="vidon::copyrighttwo"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>影院选坐</legend>
            </fieldset>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md9 layui-col-lg-offset1">
                    <table class="layui-table" style="text-align: center">
                        <tr>
                            <td>
                                <button class="layui-btn">1排1座</button>
                            </td>
                            <td>
                                <button class="layui-btn">1排2座</button>
                            </td>
                            <td>
                                <button class="layui-btn">1排3座</button>
                            </td>
                            <td>
                                <button class="layui-btn">1排4座</button>
                            </td>
                            <td>
                                <button class="layui-btn">1排5座</button>
                            </td>
                            <td>
                                <button class="layui-btn">1排6座</button>
                            </td>
                            <td>
                                <button class="layui-btn">1排7座</button>
                            </td>
                            <td>
                                <button class="layui-btn">1排8座</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="layui-btn">2排1座</button>
                            </td>
                            <td>
                                <button class="layui-btn">2排2座</button>
                            </td>
                            <td>
                                <button class="layui-btn">2排3座</button>
                            </td>
                            <td>
                                <button class="layui-btn">2排4座</button>
                            </td>
                            <td>
                                <button class="layui-btn">2排5座</button>
                            </td>
                            <td>
                                <button class="layui-btn">2排6座</button>
                            </td>
                            <td>
                                <button class="layui-btn">2排7座</button>
                            </td>
                            <td>
                                <button class="layui-btn">2排8座</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="layui-btn">3排1座</button>
                            </td>
                            <td>
                                <button class="layui-btn">3排2座</button>
                            </td>
                            <td>
                                <button class="layui-btn">3排3座</button>
                            </td>
                            <td>
                                <button class="layui-btn">3排4座</button>
                            </td>
                            <td>
                                <button class="layui-btn">3排5座</button>
                            </td>
                            <td>
                                <button class="layui-btn">3排6座</button>
                            </td>
                            <td>
                                <button class="layui-btn">3排7座</button>
                            </td>
                            <td>
                                <button class="layui-btn">3排8座</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="layui-btn">4排1座</button>
                            </td>
                            <td>
                                <button class="layui-btn">4排2座</button>
                            </td>
                            <td>
                                <button class="layui-btn">4排3座</button>
                            </td>
                            <td>
                                <button class="layui-btn">4排4座</button>
                            </td>
                            <td>
                                <button class="layui-btn">4排5座</button>
                            </td>
                            <td>
                                <button class="layui-btn">4排6座</button>
                            </td>
                            <td>
                                <button class="layui-btn">4排7座</button>
                            </td>
                            <td>
                                <button class="layui-btn">4排8座</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="layui-btn">5排1座</button>
                            </td>
                            <td>
                                <button class="layui-btn">5排2座</button>
                            </td>
                            <td>
                                <button class="layui-btn">5排3座</button>
                            </td>
                            <td>
                                <button class="layui-btn">5排4座</button>
                            </td>
                            <td>
                                <button class="layui-btn">5排5座</button>
                            </td>
                            <td>
                                <button class="layui-btn">5排6座</button>
                            </td>
                            <td>
                                <button class="layui-btn">5排7座</button>
                            </td>
                            <td>
                                <button class="layui-btn">5排8座</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="overflow: hidden">
            <div class="layui-col-md2 layui-col-lg-offset1"><img th:src="@{'/img/'+${movie.movieImgsrc}}"/></div>
            <div class="layui-col-md2">
                <!--                    <h3><span>影片:</span><span th:text="${Movie.getMovieName()}"></span></h3>-->
                <div><span style="color: red;font-size:18px" th:text="${movie.movieName}"></span></div>
                <div><span>电影片名:</span><span th:text="${movie.movieTime}"></span></div>
                <div><span>播放时间:</span><span th:text="${movie.movieTime}"></span></div>
                <div><span>导演:</span><span th:text="${movie.movieDirect}"></span></div>
                <div><span>演员:</span><span th:text="${movie.movieActor}"></span></div>
                <div><span>影片简介:</span>
                    <span th:text="${movie.movieIntroduce}"></span></div>
                <div><span>影片价格:</span><span th:text="${movie.moviePrice}"></span></div>
            </div>
            <div class="layui-col-md2 " style="border: 1px solid red;height:200px;width: 200px;overflow: auto">
                <span>已选座位</span>
                <hr class="layui-bg-red">
                <div id="tianjia">
                </div>
            </div>

            <div class="layui-col-md2 layui-col-lg-offset1"
                 style="border: 1px solid red;height:200px;width: 200px;overflow: auto">
                <span>总价格</span>
                <hr class="layui-bg-red">
                <div id="price" style="font-size: 40px;height:60%"></div>
                <div><a id="login" class="layui-btn" style="margin-left: 50px" href="#"/>提交</a></div>
            </div>

        </div>
        <div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>观看评论</legend>
            </fieldset>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">文本域</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>

        </div>
        <div th:each="Discuss:${discuss}">
            <div class="layui-col-md1">
                <img width="60" height="60" th:src="${Discuss.getUserImgsrc()}"></img>
            </div>
            <div class="layui-col-md10">
                <div><span style="color: red;font-size: 20px" th:text="${Discuss.userId}"></span></div>
                <div style="color: grey" th:text="${Discuss.discussTime}"></div>
                <blockquote class="layui-elem-quote layui-quote-nm" th:text="${Discuss.discuss}">引用区域的文字</blockquote>
            </div>
            <hr/>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        威威影院
    </div>


</div>


</div>
</body>
</html>