<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
</head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>欢迎登录</h1>
                            </div>
                            <p>威威影院购票系统</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">

                            <div class="form-group">
                                <input id="login-username" type="text" name="userName" required data-msg="请输入用户名"
                                       placeholder="用户名" value="admin" class="input-material">
                            </div>
                            <div class="form-group">
                                <input id="login-password" type="password" name="passWord" required data-msg="请输入密码"
                                       placeholder="密码" class="input-material">
                            </div>
                            <button id="login" type="submit" class="btn btn-primary">登录</button>
                            <div style="margin-top: -40px;">
                                <!-- <input type="checkbox"  id="check1"/>&nbsp;<span>记住密码</span>
                                <input type="checkbox" id="check2"/>&nbsp;<span>自动登录</span> -->
                                <div class="custom-control custom-checkbox " style="float: right;">
                                    <input type="checkbox" class="custom-control-input" id="check2">
                                    <label class="custom-control-label" for="check2">自动登录</label>
                                </div>
                                <div class="custom-control custom-checkbox " style="float: right;">
                                    <input type="checkbox" class="custom-control-input" id="check1">
                                    <label class="custom-control-label" for="check1">记住密码&nbsp;&nbsp;</label>
                                </div>
                            </div>

                            <br/>
                            <small>没有账号?</small><a th:href="@{/register}" class="signup">&nbsp;注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>

<!--    <script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>&lt;!&ndash;表单验证&ndash;&gt;-->
<!-- Main File-->
<!--    <script th:src="@{/js/front.js}"></script>-->
<script>
    $(function () {
        $("#login").click(function () {
            var userName = $("#login-username").val();
            var passWord = $("#login-password").val();
            /*获取当前输入的账号密码*/
            /*获取记住密码  自动登录的 checkbox的值*/
            $.ajax({
                type: 'post',
                url: '/login',
                async: true,
                datatype: "json",
                data: {"username": userName.toString(), "password": passWord.toString()},
                success: function (obj) {
                    if (obj.code == 1) {
                        alert("111进入这个页面了");
                        window.location.href = "vidon";
                    }
                    if (obj.code == 0) {
                        alert(obj.message);
                    }
                },
                error: function (obj) {
                    alert("交互失败")
                }

            })
        })

        /*$("#check2").click(function(){
            var flag=$('#check2').prop('checked');
            if(flag){
                var userName=$("#login-username").val();
                var passWord=$("#login-password").val();
                $.ajax({
                    type:"post",
                    url:"http://localhost:8080/powers/pow/regUsers",
                    data:{"userName":userName,"passWord":passWord},
                    async:true,
                    success:function(res){
                        alert(res);
                    }
                });
            }
        })*/
    })
</script>
</body>
</html>