<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>威威影院管理系统</title>
    <script src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script>
        $(function () {
            $('#select').click(function () {
               var href= '/obscureGetMovie/?movieName='+$('#selecttest').val();
            window.location.href=href;
            })
        })
    </script>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css">
    <!--    <link rel="stylesheet" href="/css/addsite.css">-->
    <script src="/webjars/layui/2.5.6/layui.js"></script>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

        });


    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:fragment="copyright">
        <div class="layui-logo">威威影院</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a th:href="@{'/updateUser/'+${session.userbyid}}">个人资料</a></li>
            <li class="layui-nav-item"><a href="/vidon">商品页面</a></li>
            <li class="layui-nav-item"><a th:href="@{'/historyOrder'}">历史订单</a></th></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" style="margin-left: 50px" >搜索电影: <input id="selecttest" name="select"/><button id='select' class="layui-btn" style="height: 20px;text-align: center;line-height: normal">提交</button></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="${session.user}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" th:fragment="copyrighttwo">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">电影分类</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/vidon/爱情片">爱情片</a></dd>
                        <dd><a href="/vidon/动作片;">动作片</a></dd>
                        <dd><a href="/vidon/科幻片;">科幻片</a></dd>
                        <dd><a href="/vidon/悬疑片;">悬疑片</a></dd>
                        <dd><a href="/vidon/喜剧片;">喜剧片</a></dd>
                        <dd><a href="/vidon/战争片;">战争片</a></dd>
                        <dd><a href="/vidon/恐怖片;">恐怖片</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>


    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div style="padding: 15px;">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>影片列表</legend>
                </fieldset>
                <div id="demo0"></div>
            </div>
        </div>


        <div class="layui-container">
            <div class="layui-row layui-col-space20 layui-col-md-offset3" id="laycontent">
                <div th:if="${List.size()}!=0">
                <div class="layui-col-md4" th:each="movie:${List}">
                    <div class="layui-col-md7"><img width="200" height="200" th:src="@{'/img/'+${movie.getMovieImgsrc()}}"/></div>
                    <div class="layui-col-md4" style="height: 200px">
                        <h3><span>影片:</span><span th:text="${movie.movieName}"></span></h3>
                        <div><span>播放时间:</span><span th:text="${movie.movieTime}"></span></div>
                        <div><span>导演:</span><span th:text="${movie.movieDirect}"></span></div>
                        <div><span>演员:</span><span th:text="${movie.movieActor}"></span></div>
                        <div><span>影片简介:</span><span th:text="${movie.movieIntroduce}"></span></div>
                        <div><a th:href="@{'/shop/'+${movie.movieId}}" class="layui-btn layui-btn-normal">选购影片</a></div>
                    </div>
                </div>
                </div>
                <div th:if="${List.size()}==0">查询不到内容</div>
            </div>


        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            威威影院
        </div>
    </div>

</div>
</body>

</html>